[Unit]
Description=HiveServer2
After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target
Requires=network-online.target

[Service]
ExecStart=/usr/lib/hive/bin/hive --service hiveserver2
WorkingDirectory=/usr/lib/hive
Environment=JAVA_HOME=/usr/lib/jvm/java
ENvironment=HADOOP_HOME=/usr/lib/hadoop
User=hdfs
Group=hdfs
Type=forking
TimeoutStartSec=2min
Restart=on-failure
RestartSec=30s
PIDFile=/var/run/hive-server.pid

[Install]
WantedBy=multi-user.target